export(csv2list, list2xml, msea_ora, msea_sub, read_pathway, setlabel, pathbank2list, ssea_ora, ora_all, ora_det, ora_est, ora_full, ora_bino, msea_ora_range)
importFrom("stats", "cor.test", "fisher.test", "p.adjust", "sd", "median", "quantile", "na.omit", "rbeta", "rbinom")
importFrom("utils", "read.csv")
importFrom(XML, xmlTreeParse, xmlRoot, xmlToList, xmlAttrs)
import(loadings)
