export(csv2list, list2xml, msea_ora, msea_sub, read_pathway, setlabel, pathbank2list, ssea_ora)
importFrom("stats", "cor.test", "fisher.test", "p.adjust", "sd")
importFrom("utils", "read.csv")
import(loadings)
